@use 'abstract';

body {
    font-family: abstract.$ff-default;
    color: abstract.$very-light-blue;
    background-color: abstract.$very-dark-blue;
    text-align: center;
    overflow-x: hidden;

    &::before {
        content: "";
        background: no-repeat url(../assets/mobile/image-host.jpg);
        background-blend-mode: multiply;
        background-color: inherit;
        opacity: 0.9;
        background-size: cover;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        @media (min-width: 45rem) {
            background-image: url(../assets/tablet/image-host.jpg);
            background-blend-mode: initial;
            left: 30%;
            bottom: 15vh;
        }
        @media (min-width: 60rem) {
            background-image: url(../assets/desktop/image-host.jpg);
            top: 8.125rem;
        }
    }

    &::after {
        @media (min-width: 45rem) {
            content: "";
            background: no-repeat url(../assets/desktop/bg-pattern-dots.svg);
            background-size: cover;
            position: absolute;
            bottom: -4rem;
            left: 2.5rem;
            min-height: 6.5rem;
            min-width: 10rem;
        }
        @media (min-width: 60rem) {
            position: fixed;
            bottom: 3rem;
            left: unset;
            right: 0;
        }
    }
    @media (min-width: 45rem) {
        text-align: initial;
    }
}
