@use 'abstract';

body {
    font-family: abstract.$ff-default;
    color: abstract.$very-light-blue;
    text-align: center;

    &::after {
        content: "";
        background: no-repeat url(../assets/mobile/image-host.jpg);
        background-color: abstract.$dark-blue;
        background-blend-mode: multiply;
        opacity: 0.8;
        background-size: cover;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}

.container {
    max-width: 90em;
    width: 90%;
    margin-inline: auto;
}
