.container {
    max-width: 90em;
    width: 90%;
    margin-inline: auto;
    @media (min-width: 45rem) {
        max-width: 50em;
        margin-inline: initial;
        padding-left: 2.5rem;
    }
    @media (min-width: 60rem) {
        padding-left: 10.3125rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    @media (min-width: 45rem) {
        .platforms {
            order: 3;
        }
        .form {
            order: 2;
        }
    }
}
