$light-green: hsl(157, 74%, 62%);
$very-dark-blue: hsl(224, 35%, 11%);
$dark-blue: hsl(225, 26%, 23%);
$light-blue: hsl(225, 21%, 45%);
$very-light-blue: hsl(225, 40%, 83%);
$white: hsl(0, 0%, 100%);
