.form {
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: 2.5rem;
    padding-bottom: 5rem;
    .input, .button {
        width: 100%;
        padding: 0.9375em 1.5em;
        border-radius: 99em;
        font: inherit;
    }

    .input {
        margin-bottom: 0.875rem;
    }
}
